.container {
  margin-top: 5%;
  margin-bottom: 10%;
  font-family: "Comfortaa", cursive;
}
.weather-app-wrapper {
  padding: 15px;
  max-width: 600px;
  margin: 30px auto;
  background-image: url("andrea-ferrario-3WgPZbsDSkE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  color: black;
  border-style: none;
}

h1 {
  text-align: center;
  text-emphasis-style: bold;
  color: rgb(141, 188, 203);
  padding-top: 3%;
}

.today {
  font-size: 25px;
  font-weight: bold;
}
.feel {
  font-size: small;
  padding-bottom: 5%;
}
.sunshine {
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
}

.stats {
  display: block;
  float: right;
  font-weight: bold;
  font-size: 20px;
  padding-right: 10%;
}

.currentCity {
  font-size: 30px;
  width: 100%;
  padding: 50% 0%;
}

.currentTemp {
  height: 90%;
}

.fiveDay {
  font-size: larger;
  font-weight: bold;
  color: black;
}
.card {
  opacity: 0.8;
}
.btn {
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: rgb(183, 194, 194);
  border: 2px solid;
  border-radius: 25px;
  border-color: rgb(153, 156, 156);
  transition: all 200ms ease-in-out;
  text-align: center;
}

.tempChange {
  display: inline;
  font-size: 50%;
}

.card-text {
  margin-bottom: 0.5rem;
}
